<!-- views/partials/header.ejs -->
<nav class="navbar navbar-expand-lg custom-navbar">
    <div class="container">
        <!-- Logo -->
        <a class="navbar-brand" href="/">
            <img src="/images/logo.png" alt="Logo" class="logo-img">
			<img src="/images/chu_logog.png" alt="Logo" class="logo-img">
			
			
        </a>

        <!-- Nút Toggle trên mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menu -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link active" href="/">Trang chủ</a></li>
                <li class="nav-item"><a class="nav-link" href="/products">Sản phẩm</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">Giới thiệu</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact">Liên hệ</a></li>
            </ul>

            <!-- Thanh tìm kiếm -->
            <form class="d-flex search-box">
                <input class="form-control" type="search" placeholder="Tìm kiếm...">
                <button class="btn btn-search" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
</nav>
